# Welcome to Analytics At Scale

## We will be using Python 3.6 for this lecture and the next one

## Python is OO and is interpreted, therefore there aren’t any compilers

### This is why indentation is extremely important !!!

### Python naming conventions

### 1. Variables names and assignments

Variable names in Python are writen verbosely in lower case and  delimited by an underscore '_' aka snake_case

Assignments are done using the equals sign '='

In [1]:
variable = 1

In [2]:
this_is_a_variable_name = 2

Variables cannot start with a number

In [3]:
5var = 3

SyntaxError: invalid syntax (<ipython-input-3-e819658f4dd2>, line 1)

Printing in python is very simple, just use the reserved keyword 'print' along with (...)

In [4]:
print("To print something")

To print something

In [5]:
print(this_is_a_variable_name)

2

In [6]:
print("We can also format strings, like this {one} or {two}".format(one=variable, two=this_is_a_variable_name))

We can also format strings, like this 1 or 2

In [7]:
print("We can also format strings, like this {} or {}".format(variable, this_is_a_variable_name))

We can also format strings, like this 1 or 2

#### Constants should be all upper case (in capital)

CONSTANT_1 = 'Some_Global_Constant'

### 2. Function and class names

Python functions are initialized by using the reservered word 'def'

If we are writing code for an application, by using functions it because more organized and re-usable.

Pro Tip: always try to write re-usable code, this will save you hours of work down the road

Pro Tip 2: Comment and document!!

Functions can have no argument or have argument, just like in R you can also specify default argument

In [8]:
def long_function_name( var_one, var_two,
                          var_tree):
    print(var_one)

Same as variable names, function names should also be written in snake_case

Functions can have none, default, single, or multiple arguments. variables inside the parenthesis of a function are called arguments or parameters

In [10]:
def this_func_has_a_first_default_param(defa_param = 1, var_one, var_two):
    #Some logic inside the function.
    print(var_one)

SyntaxError: non-default argument follows default argument (<ipython-input-10-ffdd3205db20>, line 1)

In [11]:
def this_func_has_a_first_default_param(var_one, var_two,
                                       defa_param = 1):
    #Some logic inside the function.
    print(var_one)

## Data Types and Data Structures

### Integer

In [12]:
1

1

In [13]:
2 + 3

5

In [14]:
10*34

340

In [15]:
5-9

-4

In [16]:
5/4

1.25

In [17]:
type(5/4)

float

In [18]:
(2+5)*(10-4)

42

Largest Integer that can be written depends on how big of a memory your machine has

### Floating-Point Numbers (Double/Decimal)

In [19]:
1.0 + 2.4

3.4

In [20]:
4.6000 - 5.0000

-0.40000000000000036

In [21]:
4/2

2.0

In [22]:
4.8 % 3.1

1.6999999999999997

In [24]:
10 % 3

1

Why is this the case here?

Well, this is called the representation error in python.

Read more about it here: http://www.lahey.com/float.htm

### Strings

Strings in python are wrapped in single, double or triple quotes

In [25]:
string_1 = "This is a string"

In [26]:
string_2 = 'This is also a string'

In [27]:
string_3 = '''This is a string as well !'''

In [28]:
print(string_3)

This is a string as well !

In [29]:
string_4 =  'This "CAN" be a  way to write strings or I can also do \"CAN\"'

In [30]:
print(string_4)

This "CAN" be a  way to write strings or I can also do "CAN"

In Python we use \ as an escape character

### Boolean

In python we use 0, 1 or True or False to measure the trueness of a value

In [31]:
True

True

In [32]:
False

False

In [33]:
0 == False

True

In [34]:
1 == True

True

### Some built in methods in python

Absolute function. It returns the absolute value of the number passed inside it.

In [35]:
abs(-5)

5

In [36]:
abs(5.34)

5.34

Iterable

An ITERABLE is:

1. anything that can be looped over (i.e. you can loop over a string or file) or
2. anything that can appear on the right-side of a for-loop:  for x in iterable: ... or
3. anything you can call with iter() that will return an ITERATOR:  iter(obj) or
4. an object that defines __iter__ that returns a fresh ITERATOR, or it may have a __getitem__ method suitable for indexed lookup.

An ITERATOR is an object:

1. with state that remembers where it is during iteration,
2. with a __next__ method that:
3. returns the next value in the iteration
4. updates the state to point at the next value
5. signals when it is done by raising StopIteration
6. and that is self-iterable (meaning that it has an __iter__ method that returns self).
Notes:

The __ next __ method in Python 3 is spelt next in Python 2, and
The builtin function next() calls that method on the object passed to it.

In [37]:
some_iterable_item = 'This_is_some_item_to_iterate'

In [38]:
it =  iter(some_iterable_item)

In [39]:
next(it)

'T'

In [40]:
next(it)

'h'

In [41]:
next(it)

'i'

In [42]:
next(it)

's'

And so on .....

The power rule aka the exponents, we use pow(var_1,var_2). it will be represented as (vat_1)^(var_2)

In [43]:
pow(2,2)

4

In [44]:
pow(5,134)

4591774807899560578002877098524397178979162331140966880893561352650067419745028018951416015625

## Data Structures

### Lists

An ordered collection of objects
[“foo”, “bar”, 0x10, true]

It can be a collection of __anything__ such as: strings, Boolean, ints, floating points etc and complex objects, like functions, classes, and modules

A list containing multiple list list is also a valid list!

In [45]:
[1,2,3]

[1, 2, 3]

In [46]:
lst = [1,2,3]

In [47]:
type(lst)

list

In [48]:
len(lst)

3

In [49]:
lst_2 = ["this", 1, 'can', [0x10, 'be', 3.0], '''a list''']

In [50]:
print(lst_2)

['this', 1, 'can', [16, 'be', 3.0], 'a list']

In [51]:
lst_2.append("something_to_append")

In [52]:
lst_2

['this', 1, 'can', [16, 'be', 3.0], 'a list', 'something_to_append']

In [53]:
lst_2[0]

'this'

In [54]:
lst_2[-1]

'something_to_append'

In [55]:
lst_2[1:5]

[1, 'can', [16, 'be', 3.0], 'a list']

In [56]:
lst_2[:2]

['this', 1]

In [57]:
lst_2[3]

[16, 'be', 3.0]

In [58]:
lst_2[3][2]

3.0

In [59]:
lst_2.reverse()

In [60]:
lst_2

['something_to_append', 'a list', [16, 'be', 3.0], 'can', 1, 'this']

### Tuple (Tup-ple)

__Tuples__ are declared by using parenthesis __( )__ unlike lists with brackets __[ ]__

_Biggest difference is that tuples are immutable_

When to use tuples?

-When we don’t want anything to mutate during the life of a program

-On very large operations, tuples perform faster than their list counterparts

In [61]:
tuple_1 = (1,2,3)

In [62]:
type(tuple_1)

tuple

In [63]:
tuple_1[-1]

3

In [64]:
tuple[1] = 'foo'

TypeError: 'type' object does not support item assignment

### Dictionaries

It is an associative array, containing key: values pairs

Declaration using curly braces { } 

nba_teams = {
    “Houston” : “Rockets”,
    “Boston” : “Celtics”,
    ....
    }

Or use the built in dict([ ]) function in python, this can be tuples as well

Iterate through the dictionary by the keys

We can also use built-in types and functions as keys

Only restriction is that we CANNOT have duplicate keys

In [65]:
d = {"k1": 1, "k2": "something", "k3": 2, "k4": "else", "k5": True}

In [66]:
d

{'k1': 1, 'k2': 'something', 'k3': 2, 'k4': 'else', 'k5': True}

In [67]:
d.pop("k1")

1

In [68]:
d

{'k2': 'something', 'k3': 2, 'k4': 'else', 'k5': True}

In [69]:
d.values()

dict_values([True, 'else', 'something', 2])

In [70]:
d.items()

dict_items([('k5', True), ('k4', 'else'), ('k2', 'something'), ('k3', 2)])

In [72]:
dict ={'some_key':'item1','some_key':'item2'}

In [73]:
dict

{'some_key': 'item2'}

### Sets

A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary

In [1]:
s = {2,3,4,1,2,3,4,5,2,1,10,4,5,6,6,21,5}

In [2]:
s

{1, 2, 3, 4, 5, 6, 10, 21}

## Comparison Operators

We use the standard comparison opertators in python, just like other languages

In [3]:
1 > 2

False

In [4]:
2 < 4

True

In [5]:
2 >= 1

True

In [6]:
3 <= 1

False

In [7]:
2 != 2

False

In [10]:
'some string' == "some string"

True

In [11]:
2 != 2 or 2 == 2

True

In [12]:
2 != 2 and 2 == 2

False

In [26]:
(2 != 2 or 2 == 2) and False

False

In [14]:
(2 != 2 and 2 == 2)

False

## if - else conditions

In [19]:
if 1 > 2:
    print("Some logic when the if condition will be true")

In [20]:
if 1 >2:
    print("Condition in if")
else:
    print("Condition in else")

Condition in else

In [23]:
if  1 == 2:
    print("Condition in if")
elif 3 == 3:
    print("Else if condition")
else:
    print("Default else")

Else if condition

## for conditions

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.

Iterating over a sequence is called traversal.

    for val in sequence:
       
       //Some logic statements

In [27]:
some_seqcuence = [1,2,3,4,5,6,7,8,123,32,4,341]

In [29]:
for i in some_seqcuence:
    print(i)

1
2
3
4
5
6
7
8
123
32
4
341

In [30]:
for optum in some_seqcuence:
    print(optum*optum)

1
4
9
16
25
36
49
64
15129
1024
16
116281

## While Loop

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

       while some_Boolean_expression_if_true:

              //Some logic statements

In [34]:
x = 10

In [35]:
while x >=0:
    print(x)
    ## Never use breaks
    break

10

## Range

In [38]:
some_range = range(10)

In [40]:
some_range

range(0, 10)

In [41]:
for num in some_range:
    print(num)

0
1
2
3
4
5
6
7
8
9

In [42]:
for num in range(len(some_seqcuence)):
    print(some_seqcuence[num])

1
2
3
4
5
6
7
8
123
32
4
341

In [43]:
some_range = range(100, 150)

In [44]:
for num in some_range:
    print(num)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149

In [45]:
for num in some_range:
    print(num)
    if(num == 105):
        break

100
101
102
103
104
105

In [ ]:
# This is a 1 line comment
# this is a second line of comment

#Document and comment about this method here.

def some_func():
    '''This is a 
    multiline comment that  
    describes the behavior of the function
    '''